{% extends "base.html" %}
{% load static %}

{% block content %}

{% block jquery %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    let filterform = $('#filterform');
    let classic_form_option = $('#classic_form_option');
    filterform.hide();
    classic_form_option.hide();
    });
</script>


<script type="text/javascript">
$(document).ready(function() {
    $('#filter_option').click(function() {
        let filterform = $('#filterform');
        let searchform = $('#searchform');
        filterform.show();
        searchform.hide();
        $('#filter_option').hide();
        $('#classic_form_option').show();
        })});
</script>

<script type="text/javascript">
$(document).ready(function() {
    $('#classic_form_option').click(function() {
        let searchform = $('#searchform');
        let filterform = $('#filterform');
        filterform.hide();
        $('#classic_form_option').hide();
        searchform.show();
        $('#filter_option').show();
        })});
</script>


{% endblock %}


<div id="content" class="background_index">
  <header class="masthead text-center d-flex text-white">
    <div class="container my-auto">
      <div class="row">
        <div class="col-10 mx-auto">
          {% include 'message.html' %}
            <h1 class="text-uppercase">
              Du gras oui, mais de qualité !
            </h1>
            <hr>
            <h2>Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h2>

        </div>
      </div>

      <div class="row d-flex justify-content-center" >
        <div  id="searchform" class="form-inline">
          <form class="form-group searchbox ui-widget col-md-12 col-md-offset-5 text-center active_padding"
                role="form" method="get"
                action="{% url 'search_results' %}">
            {{ form.name }}
            {% csrf_token %}
              <div class="input-group-append">
                <button id="chercher" type="submit" class="btn btn-primary btn-block
                bbtn-sm btn-submit button-form text-black-50">Chercher</button>
              </div>
          </form>
        </div>
      </div>

      <br>
      <p id="filter_option">Filtrer</p>
      <p id="classic_form_option">Retour au formulaire basique</p>

      <div class="row d-flex justify-content-center" >
        <div  id="filterform">
          <form class=" form-group searchbox ui-widget col-md-12 col-md-offset-5 text-center active_padding"
                role="form" method="get"
                action="{% url 'search_results' %}">
          <div class="responsive-inline">
            <div class="active_padding">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Nom du produit</label>
              <div id="filter_name">
               {{ form.name }}
               </div>
            <br><p class="help_text_form">{{ form.name.help_text }}</p>
        </div>

          <div class="active_padding">
            {{ form.category.errors }}
            <label for="{{ form.category.id_for_label }}">Catégorie</label>
            {{ form.category }}
            <br><p class="help_text_form">{{ form.category.help_text }}</p>
        </div>

       <div class="active_padding">
            {{ form.nutriscore.errors }}
            <label for="{{ form.nutriscore.id_for_label }}">Valeur minimale du nutriscore</label>
            {{ form.nutriscore }}
            <br><p class="help_text_form">{{ form.nutriscore.help_text }}</p>
        </div>
            </div>


            {% csrf_token %}
              <div class="input-group-append">
                <button id="search_filter_button" type="submit" class="btn btn-primary btn-block
                bbtn-sm btn-submit button-form text-black-50">Chercher</button>
              </div>
          </form>
        </div>
      </div>

    </div>
  </header>
</div>

<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Colette et Remy</h2>
          <hr class="light my-4">
          <h3 class="text-faded mb-4">Les rois de la ratatouille</h3>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum."</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 text-center">
        <div class="service-box mt-5 mx-auto">
          <img src="{% static 'assets/img/colette.jpg' %}" alt="colette" class="rounded-portrait">
            <h3 class="mb-3">Colette</h3>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 text-center">
        <div class="service-box mt-5 mx-auto">
          <img src="{% static 'assets/img/remy.jpg' %}" alt="rémy" class="rounded-portrait">
            <h3 class="mb-3">Rémy</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Contactez-nous !</h2>
          <hr class="my-4">
            <p class="mb-5">Lorem Ipsum</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
        <p>01-02-03-04-05</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
          <p>
            <a href="mailto:contact@purbeurre.com">contact@purbeurre.com</a>
          </p>
      </div>
    </div>
  </div>
</section>


{% endblock %}





